body {
  background-color: lightblue;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
}

.jumbotron {
  display: flex;
  justify-content: center;
  padding-top: 140px;
}

.jumboContainer {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  align-items: center;
}

#commentsHeader, #blogPostsHeader {
  padding-bottom: 10px;
}

.commentsSentimentDiv {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  margin: auto;
  width: 60%;
}

.commentsSentimentTable {
  align-self: center;
  margin: 4px;
  padding: 2px;
}

.table {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

.table th {
  display: flex;
  padding: 25px;
  background-color: darkgrey;
}

.table td {
  display: flex;
  background-color: mistyrose;
}

.marg {
  margin: 70px 0 0 0; /* spacing between divs */
}

.blogSentimentDiv {
  align-self: center;
  width: 60%;
}

.blogSentimentTable {
  align-self: center;
  margin: 4px;
  padding: 2px;
}

.table2 {
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

.table2 th {
  color: white;
  padding: 25px;
  background-color: rgb(104, 97, 97);
}

.table2 td {
  background-color: rgb(233, 211, 208);
}

@media(max-width: 496px) {
  h1 {
      font-size: 30px;
  }

}